#.gitignore for java
*.class
 
# Package Files #
*.jar
*.war
*.ear
**/target/

# logs
/stacktrace.log
/test/reports
/logs
*.log
*.log.*

## .gitignore for intellij
*.iml
*.ipr
*.iws
.idea/

## .gitignore for eclipse
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
.classpath
.loadpath

## .gitignore for node
sds-front/package-lock.json

.DS_Store
node_modules