language: java
sudo: false # faster builds

jdk:
  - openjdk8

cache:
  directories:
    - $HOME/.m2

install: true

script:
  - mvn clean install -P

after_success:
  - bash <(curl -s https://codecov.io/bash)