.building {
    .building-txt {
        font-size: 45px;
        font-weight: bold;
        color: rgb(212, 162, 102);
        text-align: center;
        border: 4px solid;
        line-height: 400px;
    }
}